pandas
numpy
matplotlib
scikit-learn
pyyaml
requests
streamlit
plotly
flask
schedule
TA-Lib
optuna
pytz
xgboost
lightgbm
vectorbt
tensorflow>=2.13.0
tensorboard
psycopg2-binary>=2.9.9
python-dotenv>=1.0.0
